.a-body {
  @extend %fcc;
  margin-top: 40px;
  color: $white;

  p {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
    letter-spacing: 1px;

    @media #{$mobile} {
      text-align: center;
    }
  }
  .a-container {
    margin-top: 20px;
    width: 750px;
    @extend %fcc;

    @media #{$mobile} {
      width: 100%;
      padding: 0 10px;
    }

    &__crumbs {
      @media #{$mobile} {
        display: none;
      }

      ul {
        @extend %fsb;
        width: 750px;
        padding: 0;
        height: 70px;
        border-bottom: 2px solid $main4;

        li {
          position: relative;
          list-style-type: none;
          text-align: center;
          &:after {
            content: ' ';
            position: absolute;
            bottom: -37px;
            left: 0;
            right: 0;
            margin: 0 auto;
            border-radius: 25px;
            width: 25px;
            height: 25px;
            @include x-gradient($main1, $main2)
          }
        }
      }
    }

    article {
      margin: 40px 0;
      text-align: justify;

      @media #{$mobile} {
        //margin: 0;
      }
    }
  }
}
.a1-body {
  margin-top:0;
  height: calc(100vh - 350px);

  @media #{$mobile} {
    height: calc(100vh - 200px);
  }

  @media #{$mobile545} {
    height: auto;
  }

  .a1-container {
    &__wp{
      @extend %fc;
      text-decoration: none;

      img{
        margin-right: 20px;
      }

      .title{
        font-weight: 500;
        color: $main4;

        &:hover{
          color: $main4;
        }
      }
    }

    &__crumbs{
      ul{
        li:not(:first-child){
          &:after{
            background: $main4;
          }
        }
      }
    }

    &__btns{
      width: 550px;
      margin-top: 50px;
      @extend %fsb;

      @media #{$mobile} {
        width: 100%;
        flex-direction: column;
      }

      button{
        outline: none;
        border: none;
        border-radius: 25px;
        @include x-gradient($main1, $main2);
        padding: 15px 40px;
        color: white;
        font-size: 16px;
        white-space: nowrap;
      }

      a{
        border: 1px solid $main1;
        border-radius: 25px;
        margin-left: 40px;
        padding: 15px 40px;
        color:$white;
        font-weight: 700;
        text-decoration: none;

        &:hover{
          background: $main2;
          border: 1px solid transparent;
        }

        @media #{$mobile} {
          margin-top: 20px;
          margin-left: 0;
        }
      }

      button, a{
        @media #{$mobile} {
          font-size: 14px;
          padding: 10px 20px;
        }
      }
    }
  }
}