/node_modules
/public/hot
/public/uploads
/storage/logs/laravel.log
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
package-lock.log
composer.lock
!/vendor/laravel/framework/src/Illuminate/Foundation/helpers.php
