.no-tx-yet-msg{
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.x-transaction {
  &__no-tx-msg{
    margin-top: 20px;
    color: $white;
  }

  &__have-tx-container{
    display: none;
  }

  &__desktop {
    margin: 0 auto;
    width: 750px;

    @media #{$mobile} {
      display: none;
    }
  }

  &__mobile{
    display: none;
    width: 100vw;

    @media #{$mobile} {
      display: block;
    }

    .x-accordion-transaction{

      .mx-tab-pane{
        width: 100vw;

        .accordion {
          background-color: $dark-blue;
          color: $white;
          cursor: pointer;
          padding: 18px;
          width: 100%;
          border: none;
          text-align: left;
          outline: none;
          font-size: 15px;
          transition: 0.4s;
        }

        .accordion:after {
          content: '\002B';
          color: $white;
          font-weight: bold;
          float: right;
          margin-left: 5px;
        }

        .active:after {
          content: "\2212";
        }

        .panel {
          width: 100%;
          background-color: $dark-blue;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.2s ease-out;
          border-radius: 0;
          color: $white;

          section{
            span{
              display: inline-block;
              padding:5px 0;

              &.mth{
                width: 20%;
                text-align: right;
                padding-right: 5px;
                border-right: 1px solid $almost-black;
              }

              &.mtd{
                width: auto;
                text-align: left;
                margin-left: 5px;
                padding-right: 5px;

                &.status-green{
                  color: $status-green;
                }

                &.status-red{
                  color: $status-red;
                }

                &.mtd-to{
                  word-break: break-all;

                  @media #{$mobile} {
                   font-size: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &__walletContainer,.x-accordion__walletContainer {
    @extend %fsb;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;


    &_wallet, &_wallet-mob {
      border: 1px solid $main1;
      border-radius: 25px;
      padding: 10px 20px;
      margin: 10px 0;
      color: $white;
      text-decoration: none;

      &.active{
        @include x-gradient($main1, $main2);
        color:  white;
      }

      &:hover{
        background-color: $main2;
        color: white;
      }

      &:active, &:hover, &:focus, &:focus-within, &:visited{
        text-decoration: none;
      }
    }
  }

  &__table {
    table-layout: fixed;
    &_head {
      @extend %fsb;
      text-align: center;
      border-bottom: 1px solid $gray4;

      .th {
        color: $white;
        font-weight: 700;
        font-size: 20px;
        width: 150px;
        text-align: center;
        padding: 10px 0;
      }

    }

    &_body {
      .tab-pane{
        @extend %fsbc;
        width: 100%;

        .td-container{
          width: 100%;
          @extend %fsb;
          text-align: center;
          border-bottom: 1px solid $white;

          .td {
            padding: 10px 0;
            width: 150px;
            color: $white;

            &.td-currency, &.td-date{
              font-size: 11px;
            }

            &.td-to {
              color: $main3;
              font-size: 12px;
              padding: 10px 25px;
            }

            &.status-green{
              color: $status-green;
            }

            &.status-red{
              color: $status-red;
            }

            &.td-info {
              &:hover {
                cursor: pointer;
                text-decoration: underline;
              }

              a {
                color: $main3;
              }
            }
          }
        }
      }
    }

  }
  &_desktop {
    border-bottom: 1px dashed $gray1;
  }
}

.x-ac-transaction {
  display: none;
}