.x-wallets {
  @extend %fcc;
  width: 750px;
  align-items: flex-start;

  @media #{$mobile} {
    align-items: center;
    width: auto;
  }

  &__title {
    @extend %title;
  }

  &__buttons {
    @extend %fsb;
    width: 100%;
    margin-bottom: 15px;

    @media #{$mobile} {
      padding: 0 60px;
    }

    @media #{$mobile545} {
      width: 165px;
      padding: 0;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    &.nav-tabs {
      border: none;
    }

    a {
      text-decoration: none;
      color: $white;

      .button {
        span {
          margin-left: 10px;
          font-size: 16px;
          color: $white;

          @media #{$mobile} {
            white-space: nowrap;
          }
        }

        @media #{$mobile545} {
          margin-bottom: 15px;
        }
      }
    }
  }

  &__form {
    @extend %fcc;
    align-items: flex-start;
    margin-bottom: 40px;
    width: 100%;
    position: relative;
    height: 530px;

    @media #{$mobile} {
      align-items: center;
    }

    .tab-pane {
      height: 100%;
      margin-bottom: 20px;
      @extend %fcc;
      justify-content: flex-start;
    }

    article{
      width: 100%;
      color: $white;
      font-size: 16px;
      font-weight: 500;
      border-bottom: 1px solid $white;
    }

    p {
      @extend %title;
      text-align: left;

      @media #{$mobile} {
        width: 80%;
        text-align: center;
        font-size: 15px;
      }
    }

    form {
      @extend %fsb;
      width: 100%;
      height: 85px;
      position: relative;

      @media #{$mobile} {
        flex-direction: column;
        height: auto;
        display: inline-block;
        text-align: center;
      }

      label {
        color: $white;
        width: 295px;
        margin-right: 5px;
        font-weight: 400;
        @media #{$mobile545} {
          font-size: 13px;
          font-weight: 500;
        }
      }

      input {
        margin: 2px;
        width: 450px;
        height: 50px;
        border: 1px solid $dark-blue;
        border-radius: 5px;
        outline: none;
        padding-left: 10px;
        background: transparent;
        color: $main2;

        &:focus {
          border: 1px solid $main1;
          color: $main1;
        }

        @media #{$mobile} {
          width: 80%;
        }

        @media #{$mobile545} {
          width: 275px;
        }

        &.isError {
          border: 1px solid $validationError;
        }
      }

      .error-message {
        position: absolute;
        width: 450px;
        right: 0;
        bottom: -10px;
        color: $validationError;
      }

      button {
        width: 25px;
        height: 25px;
        position: absolute;
        right: 20px;
        border: none;
        outline: none;
        padding: 0;
        background: transparent;

        @media #{$mobile} {
          right: 20%;
          bottom: 15px;
        }

        &.edit-wallet-btn {
          display: none;
          right: 60px;
          background: url("/img/edit-pencil.svg");
        }

        &.add-wallet-btn {
          //background: url("/img/add-wallet-btn.png");
          //background-size: contain;

          i {
            color: $main2;
            width: 25px;
            height: 25px;
          }
        }

        &.sbmt-wallet-btn {
          display: none;
          background: transparent;
          width: auto;
          height: auto;
          color: $main2;
          padding: 5px;

          &:hover {

          }
        }

        &.sbmt-usd-amount-btn {
          position: absolute;
          top:100px;
          left:0;
          right:0;
          margin: 0 auto;
          color: white;
          font-size: 14px;
          font-weight: 500;
          width:200px;
          height:45px;
          outline: none;
          border: none;
          border-radius: 25px;
          text-decoration: none;
          @include x-gradient($main1, $main2);

          &:disabled{
            background: $white;
          }
        }
      }
    }
    .description-container {
      width: 100%;

      @media #{$mobile} {
        margin-top: 40px;
      }

      @media #{$mobile360} {
        margin-top: 80px;
      }
    }
  }

  &__text {
    width: 100%;
    color: $white;

    @media #{$mobile} {
      width: 100%;
      padding: 0 30px;
    }

    @media #{$mobile545} {
      padding: 0 10px;
    }

    .owner-wallet-span {
      @media #{$mobile545} {
        font-weight: 500;
        font-size: 14px;
      }
    }

    ul {
      font-weight: 500;
      margin-bottom: 40px;
      font-size: 14px;

      @media #{$mobile545} {
        padding-left: 25px;
      }
    }

    p {
      @extend %title;
      text-align: left;

      @media #{$mobile} {
        text-align: center;
      }
    }

    .pay-to-us-wallet {
      @extend %fc;
      border: 1px solid $dark-blue;
      border-radius: 5px;
      height: 100px;

      @media #{$mobile545} {
        height: auto;
        padding: 10px;
        flex-direction: column;
      }

      .QR-code {
        width: 75px;
        height: 75px;

        @media #{$mobile545} {
          margin-bottom: 10px;
        }
      }

      p {
        @media #{$mobile545} {
          font-size: 13px;
        }
      }

      span {
        color: #27ae60;
        font-weight: 700;
        margin-left: 10px;
        margin-bottom: 0;
        word-break: break-all;
        text-align: center;
      }

      .w-copy-click{
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }
}