.x-widget {
  width: 100%;

  @media #{$mobile} {
    padding: 0 50px
  }

  .widget-part {
    @extend %fcc;
    align-items: flex-start;
    margin: 10px 0;

    @media #{$mobile} {
      align-items: center;
      margin-bottom: 60px;
    }

    p {
      font-size: 18px;
      font-weight: 700;
      color: $main8;
      text-transform: uppercase;
      letter-spacing: .5px;
      margin-bottom: 20px;

      @media #{$mobile} {
        font-size: 15px;
      }
    }

    .control-container {
      width: 100%;
      @extend %fsb;
      align-items: flex-start;

      @media #{$mobile} {
        flex-wrap: wrap;
        justify-content: center;
      }

      .c {
        @extend %fsb;
        flex-wrap: wrap;
        width: 30%;
      }

      .c1 {
        width: 60%;
        @extend %fsb;

        @media #{$mobile} {
          width: 100%;
          margin-bottom: 40px;
        }

        @media #{$mobile545} {
          justify-content: center;
          margin-bottom: 20px;
        }

        &:first-child{
          margin-bottom: 40px;
        }

        .x-progress {
          height: 46px;
          border: 1px solid $main1;
          background: url("/img/x-progress-background.png");
          border-radius: 5px;
          position: relative;

          @media #{$mobile545} {
            width: 270px;
            margin-bottom: 40px;
          }
        }
      }

      .c1-0, .c1-1 {
        @media #{$desktop} {
          width: 92%;
        }
      }

      .c2{
        width: 35%;
        @extend %fsb;

        @media #{$mobile} {
          width: 225px;
        }
      }
    }
  }

  &__top {
    .control-container{

      &__periods{
        width: 65%;

        .c1 {
          &__progress_pre-sale, &__progress_pre-ico{
            width: 48%;
          }

          &__progress_pre-sale{
            @media #{$mobile} {
              width: 157.5px;
            }
          }

          &__progress_pre-ico{
            @media #{$mobile} {
              width: 270px;
            }
          }

          .x-in {
            @include internal-filling();
          }

          .x-progress__in_pre-sale {
            width: calc(100% + 2px);
          }

          .x-progress__in_pre-ico {
            width: 50%;
          }

          .x-stage {
            @include internal-filling-number();
          }

          .x-progress_dates {
            width: 100%;
            @extend %fsb;
            position: absolute;
            bottom: -25px;

            span {
              font-size: 14px;
              color: $gray1;
              font-weight: 300;
            }
          }

          &__progress_pre {
            width: 35%
          }

          &__progress_ico {
            width: 60%
          }
        }

        .c1-1 {
          &__progress_ico1,
          &__progress_ico2,
          &__progress_ico3 {
            width: 30%;
          }

          .x-in {
            @include internal-filling();
          }

          .x-progress__in_pre-sale {
            width: calc(100% + 4px);
          }

          .x-progress__in_pre-ico {
            width: 50%;
          }

          .x-stage {
            @include internal-filling-number();
          }

          .x-progress_dates {
            width: 100%;
            @extend %fsb;
            position: absolute;
            bottom: -25px;

            span {
              font-size: 14px;
              color: $gray1;
              font-weight: 300;
            }
          }
        }
      }

      .c2 {
        .d {
          height: 46px;
          width: 28%;
          border: 1px solid $main1;
          border-radius: 5px;
          position: relative;

          .t {
            font-family: 'VT323', monospace;
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
            font-size: 48px;
            line-height: 42px;
            font-weight: 300;
            text-align: center;
            color: $main3;
          }

          &__name {
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
            bottom: -25px;
            text-align: center;
            color: $gray1;
            font-size: 16px;
          }
        }
      }

    }
  }


  &__bot {

    .title-container{
      width: 100%;
      margin-top: 30px;
      @extend %fsb;
    }

    .x-progress {
      width:100%;

      &__in {
        width: 50%;
        @include internal-filling();
      }

      &__percents {
        @include internal-filling-number();
      }

      &__caps {
        @extend %fsb;
        position: absolute;
        bottom: -25px;
        width: 100%;
        font-size: 14px;
        color: $gray2;
        font-weight: 300;

        @media #{$mobile545} {
          flex-direction: column;
          bottom: -45px;
        }

        div{

          span{
            color: $gray1;
          }
        }
      }
    }
  }
  .c2 {

    &__cur {
      margin-top: 3px;
      @extend %fsb;

      img {
        height: 30px;
      }

      .text-box {
        margin-left: 10px;
        @extend %fcc;
        align-items: flex-start;
        font-size: 15px;
        font-weight: 500;
        color: $gray1;
      }
    }
  }
}
