.reset-body{
  @extend %fcc;
  color: $white;
  height: calc(100vh - 350px);
  min-height: 768px;

  @media #{$mobile} {
    height: calc(100vh - 200px);
  }

  h3{

  }

  form{
    @extend %fcc;
    margin-top: 50px;

    label{
      display:block;
      font-weight: 500;
      width: 100%;
      text-align: left;
    }

    input{
      display:block;
      width:100%;
      height:50px;
      outline: none;
      border: 1px solid $dark-blue;
      border-radius: 5px;
      background: transparent;
      margin: 0;
      padding-left: 15px;
    }

    .error-message{
      height: 50px;
      width: 100%;
      text-align: left;
      color: $validationError;
    }
    .error-message-captcha{
      text-align: center;
    }

    button{
      outline: none;
      border: none;
      border-radius: 25px;
      @include x-gradient($main1, $main2);
      padding: 15px 40px;
      color: white;
      font-size: 16px;
      white-space: nowrap;

      .small-spinner{
        display: none;
      }
    }
  }

}