.x-refs{
  width: 750px;
  @extend %fcc;
  margin-top: 20px;
  font-weight: 500;

  &__article{

  }

  &__bonus{
    @extend %fc;
    justify-content: flex-start;
    margin-top: 20px;
    width: 750px;

    .ref-bonus-text{
      margin-right: 20px;
    }

    .big-five-span{
      font-size: 36px;
      font-weight: 700;
      background: -webkit-linear-gradient($main1, $main2);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__input-container{
    margin-top: 20px;
    width: 750px;
    position: relative;


    label {
      width: 310px;
      font-weight: 500;
    }

    input {
      padding-left: 15px;
      height: 40px;
      width: 435px;
      border: 1px solid #1D52A7;
      border-radius: 3px;

      &:focus{
        border: 1px solid $main1;
      }
    }

    img{
      position: absolute;
      top: 9px;
      right: 20px;
      cursor: pointer;
    }
  }

  &__header {
    @extend %fc;
    margin-top: 30px;
    border-bottom: 1px solid #1D52A7;
    border-top: 1px solid #1D52A7;
    width: 750px;

    &_el{
      padding: 15px 0;
      width: 33.3%;
      color: black;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
    }
  }

  &__section {
    @extend %fc;
    border-bottom: 1px solid #1D52A7;
    width: 750px;

    &_el{
      padding: 20px 0;
      width: 33.3%;
      color: black;
      font-size: 14px;
      text-align: center;
    }

  }

  &__footer {
    @extend %fc;
    border-bottom: 1px solid #1D52A7;
    width: 750px;

    &_el{
      padding: 20px 0;
      width: 33.3%;
      color: black;
      font-size: 16px;
      font-weight: 700;
      text-align: center;
    }

  }
}