header{
  //box-shadow: 1px 0px 5px $gray6;
}

.header {
  @extend %fsb;
  margin:0 15%;
  height:100px;

  @media (max-width:1367px){
      margin:0 5%;
  }

  @media (max-width:991px){
      margin:0 3%;
  }

  @media #{$mobile} {
    margin:0 1%;
  }

  &__logo{
    margin-bottom: 6px;

    @media #{$noDesktop} {
      position:static;
      z-index:12;
    }

    @media #{$mobile} {
      margin-bottom: 24px;
    }

    img{
      width:180px;
      height:65px;

      @media #{$mobile} {
        width:100px;
        height:37px;
      }
    }
  }

  &__links{
    @extend %fc;
    height: 65px;
    position: relative;

    @media #{$noDesktop} {
      position:absolute;
      z-index:11;
      top:-250px;
      margin: 0 auto;
      right: 0;
      left:0;
      background: #041123;
      transition: .3s ease-in-out;
      height: 250px;
    }

    &.is-active {
      @media #{$noDesktop} {
        top: 0;
      }
    }

    ul{
      @extend %fc;
      list-style: none;

      @media #{$noDesktop} {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      li{
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 500;
        margin:0 7px;

        @media #{$noDesktop} {
          margin:10px 0;
        }

        a{
          color:$main8;
          text-decoration: none;
          padding: 5px 10px;
          white-space: nowrap;
          font-size: 16px;
          font-weight: 400;
          letter-spacing: 1.2px;
        }
      }
    }
  }

  &__lang{
    @extend %fsb;
    justify-content: flex-end;
    height: 65px;
    width: 65px;
    position: relative;

    @media #{$mobile} {
      width: 80px;
    }

    .dropdown {
      position: relative;
      display: inline-block;

      &:hover .dropdown__content{
        display: block;
      }

      &__btn {
        background-color: transparent;
        border:1px solid $gray2;
        border-radius: 5px;
        color: $gray2;
        padding: 5px 10px;
        font-size: 16px;

      }

      &__content {
        display: none;
        position: absolute;
        background-color: #f5f5f5;
        min-width: 70px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;

        a{
          font-size: 14px;
          font-weight: 500;
          color:$gray2;
          text-decoration: none;
          padding: 12px 16px;
          display: block;
          cursor: pointer;

          &:hover{
          background: white;
          }

          @media #{$mobile} {
            bottom: auto;
          }
        }
      }
    }

    .dropdown-content a:hover {background-color: #f1f1f1}

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
      background-color: #3e8e41;
    }

  }

  &__burger{
    display:none;

    @media #{$mobile} {
      width: 65px;
    }

    @media #{$noDesktop} {
      display:block;
      position:static;
      z-index:12;
    }

    .hamburger{
      @media #{$noDesktop} {
        outline: none;
        border: none;
        float: right;
      }

      .hamburger-inner{
        background: $white;

        &:before, &:after{
          background: $white;
        }
      }
    }
  }
}
