@media (max-width:1367px){
  .header {
    margin:0 5%;
  }
}

@media (max-width:1120px){
  .header {
    &__logo{
      position:static;
      z-index:6;
    }

    &__links{
      //display: none;
      position:absolute;
      z-index:5;
      top:-250px;
      margin: 0 auto;
      right: 0;
      left:0;
      background: white;
      transition: .3s ease-in-out;

      &.is-active{
        top:80px;
      }
      ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        li{
          margin:10px 0;
        }
      }
    }
    &__burger{
      width:180px;
      display:block;
      position:static;
      z-index:6;

      .hamburger{
        outline: none;
        border: none;
        float: right;
      }
    }
  }
}
@media (max-width:769px){
  .header {
    margin:0 1%;
  }
}