.a-wrapper {
  width: 1350px;
  margin: 40px 0 0 -15vw;
  color:$white;

  section{

    div{
      @extend %fc;
      border: 1px solid $gray6;
      text-align: center;
      height: 40px;
      word-break: break-all;
    }

    .a-id{
      width: 45px;
    }

    .a-email{
      width: 200px;
      font-size: 12px;
      overflow: auto;
    }

    .a-registered-at{
      width: 70px;
      font-size: 12px;
    }

    .a-ip{
      width: 100px;
      font-size: 10px;
    }

    .a-name{
      width: 120px;
      font-size: 12px;
    }

    .a-address{
      width: 150px;
      font-size: 10px;
      word-break: break-all;
    }

    .a-phone{
      width: 100px;
      font-size: 12px;
    }

    .a-birth{
      width: 100px;
      font-size: 12px;
    }

    .a-nationality{
      width: 80px;
      font-size: 12px;
    }

    .a-funds{
      width: 80px;
      font-size: 12px;
    }

    .a-doc-wrapper{
      width: 90px;
      font-size: 12px;
      overflow: auto;
      @extend %fc;

      a{
        padding: 3px;
      }
    }

    .a-confirmed{
      width: 50px;
    }

    .a-confirm-btn{
      @extend %fcc;
      border: transparent!important;
      margin-left: 10px;
      font-size: 10px;


      button{
        border: transparent!important;
        white-space: nowrap;
        margin-right: 2px;
        background: $gray2;
        color: white;

        &:first-child{
          margin-bottom: 3px;
        }
      }

      .confirm-user-btn{
        &:hover{
          background: $status-green;
        }
      }

      .rts2-user-btn{
        &:hover{
          background: $status-red;
        }
      }
    }
  }

  &__header {
    @extend %fsb;
    justify-content: flex-start;

    &_el {
      text-align: center;
      font-weight: 500;
      font-size: 12px!important;
      background: $gray6;
      color: white;
    }
  }

  &__section {
    @extend %fsb;
    justify-content: flex-start;

    &_el {

    }
  }
}

.a-confirmed1{
  color: $status-green;
}

.a-confirmed0{
  color: $status-red;
}