.r-wrapper {
  margin: 40px auto!important;
  section {
    .r-user-id{
      width: 45px;
    }

    .r-wallet-to{
      width: 400px;
    }

    .r-tokens{
      width: 100px;
    }

    .r-data{
      width: 150px;
    }
  }
}