$x-progress-from: #330868;
$main-blue: #30ced1;
$x-dash-to:#F2F2F2;
$almost-black:#333333;
$gray1:#828282;
$gray2: #4b4b4b;
$gray3: #BDBDBD;
$gray4: #E0E0E0;
$validationError: #ff443a;

@mixin x-dashboard-gradient($from, $to) {
  background-image: -ms-linear-gradient(bottom, $from 0%, $to 100%);
  background-image: -moz-linear-gradient(bottom, $from 0%, $to 100%);
  background-image: -o-linear-gradient(bottom, $from 0%, $to 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, $from), color-stop(100, $to));
  background-image: -webkit-linear-gradient(bottom, $from 0%, $to 100%);
  background-image: linear-gradient(to top, $from 0%, $to 100%);
}

@mixin x-gradient($from, $to) {
  background: $from;
  background: -moz-linear-gradient(left, $from 0%, $to 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, $from), color-stop(100%, $to));
  background: -webkit-linear-gradient(left, $from 0%, $to 100%);
  background: -o-linear-gradient(left, $from 0%, $to 100%);
  background: -ms-linear-gradient(left, $from 0%, $to 100%);
  background: linear-gradient(to right, $from 0%, $to 100%);
}


@mixin internal-filling(){
  @include x-gradient($x-progress-from, $main-blue);
  height:calc(100% + 4px);
  border-radius: 5px;
  z-index:9;
  position: absolute;
  top: -2px; left: -2px;
}

@mixin internal-filling-number(){
  position: absolute;
  margin:10px auto;
  left: 0; right:  0;
  color:white;
  text-align: center;
  z-index:10;
  font-size: 18px;
  font-weight: 700;
  text-shadow: 1px 1px 25px $almost-black;
  letter-spacing: 1px;
}

%fc {
  display: flex;
  justify-content: center;
  align-items: center;
}

%fcc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

%fsb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%fsbc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
