@import "../../../sass/variables";

.ref-admin-info {
  width: 100%;
  margin-left:-5%;
  margin-bottom: 40px;

  .helpBar{
    width: 875px;
    @extend %fsb;
  }

  .ref-admin-container{
    &__el{
      text-align: center;
      border: 1px solid #1b6d85;
      color:$white;
      @extend %fc;

      &.id{
        width: 55px;
      }

      &.tokens{
        width: 110px;
      }

      &.wallet_to{
        width: 320px;
        font-size: 12px;
      }

      &.send{
        width: 70px;
      }

      &.date{
        width: 320px;
      }

      &.send-tokens{
        width: 90px;
        margin-left: 5px;
        background: #1e6176;
        color: white;
        border: none;
        cursor: pointer;
      }

      &.ref-admin-successful{
        color: $status-green;
      }

      &.ref-admin-failed{
        color: $status-red;
      }
    }

    header{
      @extend %fc;
      justify-content: flex-start;
      background: #1b6d85;
      width: 875px;

      div{
        color: white;
        cursor: pointer;
      }
    }

    main{
      width: 1445px;
      @extend %fc;
      justify-content: flex-start;

      div{
        height: 40px;
        color: $gray2;

        &.from{
          @extend %fcc;
          font-size: 12px;
        }
      }
    }
  }
}

