<section class="ref-admin-info">
	<div class="helpBar">
		<div class="helpBar__buttons">
			<button @click="prevPage">Previous</button>
			<button @click="nextPage">Next</button>
		</div>
		<div class="helpBar__help-text">
			<p v-model="currentPage">current page: {{ currentPage }}</p>
			<p v-model="totalPages">total referrals: {{ totalPages }}</p>
		</div>
		<div class="helpBar__page-select">
			<label for="pageQuantity">Number of elements on the page</label>
			<select v-model="pageSize" name="pageQuantity" id="pageQuantity">
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="15">15</option>
				<option value="20">20</option>
				<option :value="totalPages">all, {{ totalPages }}</option>
			</select>
		</div>
	</div>
	<div class="ref-admin-container">
		<header>
			<div class="ref-admin-container__el id" @click="sort('user_id')">user id</div>
			<div class="ref-admin-container__el tokens" @click="sort('tokens')">tokens</div>
			<div class="ref-admin-container__el wallet_to" @click="sort('wallet_to')">wallet</div>
			<div class="ref-admin-container__el send" @click="sort('send')">send</div>
			<div class="ref-admin-container__el date" @click="sort('updated_at')">date</div>
		</header>
		<main v-for="item in sortedItems">
			<div class="ref-admin-container__el id">{{ item.user_id }}</div>
			<div class="ref-admin-container__el tokens">{{ item.tokens }}</div>
			<div class="ref-admin-container__el wallet_to">{{ item.wallet_to }}</div>
			<div :class="{ 'ref-admin-successful': item.send == 'true', 'ref-admin-failed': item.send !== 'true' }" class="ref-admin-container__el send">{{ item.send }}</div>
			<div class="ref-admin-container__el date">{{ item.updated_at }}</div>
			<button class="ref-admin-container__el send-tokens" v-if="item.send == 'false'" @click="sendTokens(item)">send tokens</button>
		</main>
	</div>
</section>
