.x-widget {
  width: 100%;
  margin-bottom: 50px;

  .widget-part {
    @extend %fcc;
    align-items: flex-start;
    margin: 20px 0 40px 0;

    p {
      font-size: 18px;
      font-weight: 700;
      color: $almost-black;
      text-transform: uppercase;
      letter-spacing: .5px;
      margin-bottom: 20px;
    }

    .control-container {
      width: 100%;
      @extend %fsb;
      align-items: flex-start;

      .c {
        @extend %fsb;
        flex-wrap: wrap;
        width: 30%;
      }

      .c1 {
        width: 60%;
        @extend %fsb;

        .x-progress {
          height: 46px;
          border: 2px solid lightgray;
          background: url("/img/x-progress-background.png");
          border-radius: 5px;
          position: relative;
        }
      }

      .c2{
        width: 30%;
        @extend %fsb;
      }
    }
  }

  &__top {
      .c1 {
        .x-in {
          @include internal-filling();
        }

        .x-progress__in_pre {
          width: calc(100% + 4px);


        }

        .x-progress__in_ico {
          width: 50%;
        }

        .x-stage {
          @include internal-filling-number();
        }

        .x-progress_dates {
          width: 100%;
          @extend %fsb;
          position: absolute;
          bottom: -25px;

          span {
            font-size: 14px;
            color: $gray2;
            font-weight: 300;
          }
        }

      &__progress_pre {
        width: 35%
      }

      &__progress_ico {
        width: 60%
      }
    }

  }

  .c2 {
    .d {
      height: 46px;
      width: 28%;
      border: 2px solid lightgray;
      border-radius: 5px;
      position: relative;

      .t {
        font-family: 'VT323', monospace;
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        font-size: 48px;
        line-height: 42px;
        font-weight: 300;
        text-align: center;
        color: $main2;
      }

      &__name {
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: -25px;
        text-align: center;
        color: #A3A3A3;
        font-size: 16px;
      }
    }
  }

  &__bot {
    .x-progress {
      width:100%;

      &__in {
        width: 50%;
        @include internal-filling();
      }

      &__percents {
        @include internal-filling-number();
      }

      &__caps {
        @extend %fsb;
        position: absolute;
        bottom: -25px;
        width: 100%;
        font-size: 14px;
        color: $gray2;
        font-weight: 300;
      }
    }
  }
  .c2 {
    &__cur {
      @extend %fsb;

      img {
        height: 40px;
      }

      .text-box {
        margin-left: 10px;
        @extend %fcc;
        align-items: flex-start;
        font-size: 18px;
        font-weight: 500;
        color: #A3A3A3;
      }
    }
  }
}
