.x-transaction{
  overflow-x:auto;
  table{
  table-layout: fixed;
      tr{
        @extend %fsb;
        text-align: center;
        border-bottom: 1px solid $gray4;
        word-wrap: break-word;

        th{
          color:$almost-black;
          font-weight: 700;
          font-size: 20px;
          width:150px;
          text-align: center;
          padding: 10px 0;
        }

        td{
          padding: 10px 0;
          width:150px;
          &.from,&.to{
            color: $main-blue;
            font-size: 12px;
            padding: 10px 25px;
          }
          &.info{
            &:hover{
              cursor: pointer;
              text-decoration: underline;
            }
            a{
              color: $main-blue;
            }
          }
        }

      }

    }

}