.x-dashboard{
  @extend %fsb;
  padding:0 15%;
  height:100px;
  border-bottom: 1px solid #071831;


  &__info{
    @extend %fcc;
    align-items: flex-start;
    text-align: left;
    width:320px;

    &_who{
      color: $white;
    }

    span{
      margin:5px 0;
    }

    &_tokens{
      color:$main1;
      font-weight: 700;
    }

  }

  &__tabs{
    @extend %fc;
    min-width:320px;
    ul{
      border-bottom: none!important;
      li{
        &.active a{
          color:$main1!important;
        }

        a{
          font-size: 18px;
          font-weight: 700;
          text-transform: uppercase;
          color:$dark-blue;
          border: none!important;
          background: transparent!important;
          letter-spacing: 1px;
        }

      }

    }

  }

  &__options{
    @extend %fcc;
    align-items: flex-end;
    width:320px;
    a{
      margin:5px 0;
      color:$gray1;
      text-decoration: underline;
      white-space: nowrap;
      &:hover{
        cursor:pointer;
      }
    }

    &_out{

      color:#CF0032!important;
      text-decoration: none!important;
      img{
        width:35px;
      }

    }

  }
//------------------------------------------------If guest ----------------
  &__guest{
    width:100%;
    @extend %fsb;

    .x-register-link{
      color:$main2;
      font-size: 16px;
      font-weight:700;
      border:1px solid $gray3;
      padding: 10px 50px;
      border-radius: 25px;
      text-decoration: none;

      &:hover{
        cursor:pointer;
        background: $main2;
        color: white;
        border: 1px solid $main2;
      }
    }

    .right-box{
      @extend %fcc;

      .x-login-link{
        color:#27ae60!important;
        text-decoration: none!important;
        margin-bottom:10px;

        &:hover{
          cursor: pointer;
          color: #1F7E41!important;
        }

        img{
          width:32px;
          height:19px;
          margin-top: -5px;
        }

      }

      .x-forgot-link{
        color: $gray1;
        text-decoration: underline;
        &:hover{
          cursor: pointer;
          color: $gray2;
        }

      }

    }
  }

}
