.x-dashboard{
  font-family: 'Roboto', sans-serif;
  @extend %flex-center;
  padding:0 15%;
  justify-content: space-between;
  height:100px;
  border-bottom: 2px solid $x-dash-to;
  @include x-dashboard-gradient(white,$x-dash-to);


  &__info{
    @extend %flex-center;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    width:320px;

    span{
      margin:5px 0;
    }
    &_tokens{
      color:$main-blue;
      font-weight: 700;
    }
  }

  &__tabs{
    @extend %flex-center;
    min-width:320px;

    ul{
      border-bottom: none!important;

      li{

        &.active a{
          color:$main-blue!important;
        }

        a{
          font-size: 18px;
          font-weight: 700;
          text-transform: uppercase;
          color:#828282;
          border: none!important;
          background: transparent!important;
          letter-spacing: 1px;

        }
      }
    }

  }

  &__options{
    @extend %flex-center;
    flex-direction: column;
    align-items: flex-end;
    width:320px;

    a{
      margin:5px 0;
      color:#828282;
      text-decoration: underline;
      white-space: nowrap;
    }

    &_out{

      color:#CF0032!important;
      text-decoration: none!important;

      img{
        width:35px;
        height:19px;
      }
    }
    &_email{

    }
    &_password{

    }
  }

}
