@media (max-width:1367px){
  .x-dashboard{
    padding: 0 5%;
  }
}

@media (max-width:769px){
  .x-dashboard{

    position: relative;
    padding: 2% 1%;

    &__tabs{
      position: absolute;
      top: 120px;
      left:0;
      right: 0;
      margin: 0 auto;
    }

    &__guest{
      justify-content: space-around;

      .x-register-link{
        font-size: 14px;
        padding: 8px 30px;
      }

    }

  }


}
