%title{
  font-size: 16px;
  font-weight: 700;
  color: $almost-black;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.x-wallets {
  width: 750px;
  @extend %fcc;
  align-items: flex-start;

  &__title {
    @extend %title;
  }

  &__buttons {
    width: 100%;
    margin-bottom: 40px;
    @extend %fsb;

    .button {
      span {
        margin-left: 10px;
        font-size: 16px;
      }
    }

  }

  &__form {
    @extend %fcc;
    align-items: flex-start;
    margin-bottom: 40px;
    width: 100%;

    p {
      @extend %title;
      text-align: left;
    }

    form {
      @extend %fsb;
      margin-bottom: 10px;
      width:100%;
      label {
        float: left;
        margin-right: 5px;
      }
      input {
        float: right;
        margin: 2px;
        width: 450px;
        height: 50px;
        border: 1px solid #E0E0E0;
        border-radius: 5px;
        outline: none;
        padding-left: 10px;
      }
    }

  }

  &__text {
    width: 100%;

    ul {
      font-weight: 500;
      margin-bottom: 40px;
      font-size: 14px;
    }
    p {
      @extend %title;
      text-align: left;
    }
    .pay-to-us-wallet {
      @extend %fc;
      border: 1px solid #E0E0E0;
      height: 100px;

      img {
        width: 50px;
        height: 50px;
      }
      span {
        color: #27ae60;
        font-weight: 700;
        margin-left: 10px;
        margin-bottom: 0;
        word-break: break-all;
        text-align: center;
      }
    }
  }

}